* {
    box-sizing: border-box;
    margin: 0;
}
body { margin: 0; 
justify-content: center;
display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 500px;
        justify-items: center;
        justify-content: center;
        background-color: #ff3384;
        font-family: Oswald, sans-serif;
        font-size: 30px;
        color: whitesmoke;
}
button {
    width: 80px;
    height: 40px;
    flex-shrink: 3;
    align-items: stretch; 
    border: 1px solid #ccc;
    border-radius: 5px;  
    font-family: Oswald, sans-serif;
    font-size: 15px;
    color: rgb(66, 12, 190); 
    background-color: aqua;
}
button:hover {
    background-color: pink;
}
